.mc{
    display: inline-flex;
    flex-flow: column;
    .l_c{
        font-size: 12px;
        font-weight: 500;
        padding: 5px 10px;
        margin-right: auto;
        display: flex;
        flex-flow: row;
        align-items: center;
        font-family: 'Helvetica';
        .r{
            color: crimson;
            margin: 0 5px;
        }
    }
    .i_c{
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        .p,.s{
            margin-bottom: 2px;
        }
        .i{
            width: 100%;
            display: inline-block;
            padding: 6px 10px;
            font-size: 16px;
            border: none;
            background: none;
            outline:none;
            border-bottom: 2px solid #ccc;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Helvetica';
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus,
        input:-internal-autofill-selected
         {
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px rgba(0, 175, 102,0.2);
            -webkit-text-fill-color: black;
        }
    }
    .e_c{
        font-size: 14px;
        font-weight: 400;
        margin-right: auto;
        padding: 5px 10px;
        font-family: 'Helvetica';
        .e{
            color: crimson;
            
        }
    }
}