.mc{
    width: 300px;
    min-height: 275px;
    background-color: #FEFEFE;
    .h_c{
        background-color: #FEFEFE;
        min-height: 30px;
        display: flex;
        flex-flow: column;
        .h_si_c{
            display: flex;
            flex-flow: row;
            .si_i_c{
                font-family: 'Helvetica';
                width: 100%; 
                display: flex;
                justify-content: center;
                align-items: center;
                .si_i{
                    cursor: pointer;
                    &:hover{
                        color: #00AF66;
                    }
                }

            }
            .si_a{
                width: 18px;
                height: 18px;
                margin: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            .si_a_l{
                margin-right:'auto';
            }
            .si_a_r{
                margin-left:'auto';
            }
        }
        .h_d_c{
            width: 100%;
            display: flex;
            flex-flow: row;
            max-height: 16px;
            align-items: center;
            justify-content: center;
            .h_d{
                width: 36px;
                color: rgba(0, 0, 0, 0.4);
                text-align: center;
            }
        }
    }
    .c{
        position: relative;
        width: 100%;
        margin-top: 12px;
        .c_w{
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
        }
        .d{
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .d_td{
                width: 30px;
                height: 30px;
                color: #FEFEFE;
                background: rgba(0,175,102,0.8);
                border-radius:  3px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover{
                color: #FEFEFE;
                background: rgba(0,175,102,0.6);
                border-radius: 3px;
            }
        }
        .d_na{
            color: rgba(0,0,0,0.4);
            &:hover{
                color: rgba(0,0,0,0.6);
                background: rgba(0,175,102,0.1);
            }
        }
        
    }
}