.a_u{
    box-sizing: border-box;
    height: 7px;
    width: 7px;
    border-style: solid;
    margin-bottom: 3px;
    border-width: 0px 1px 1px 0px;
    transform: rotate(225deg);
}
.a_d{
    box-sizing: border-box;
    height: 7px;
    width: 7px;
    border-style: solid;
    margin-bottom: 3px;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
}
.a_l{
    box-sizing: border-box;
    height: 7px;
    width: 7px;
    border-style: solid;
    margin-bottom: 3px;
    border-width: 0px 1px 1px 0px;
    transform: rotate(135deg);
}
.a_r{
    box-sizing: border-box;
    height: 7px;
    width: 7px;
    border-style: solid;
    margin-bottom: 3px;
    border-width: 0px 1px 1px 0px;
    transform: rotate(315deg);
}