.mc{
    display: inline-flex;
    .s_t{
        margin-left: 50px;
        margin-top: 50px;
        position: absolute;
        width: 250px;
        height: 5px;
        border-radius: 3px;
        background: green;
    }
    .s_c{
        margin-left: 50px;
        margin-top: 50px;
        position: absolute;
        //width: 250px;
        height: 5px;
        border-radius: 3px;
        background: #ff3232;
        .s{
            position: absolute;
            top: -3px;
            left: 0;
            width: 12px;
            height: 12px;
            border-radius: 12px;
            background: red;
            box-shadow: 0 0 0 0 rgba(0,0,0,.3), inset 0 0 0 0 #fff;
            transition: box-shadow .2s;
            cursor: pointer;
            &:active, &:hover{
                width: 24px;
                height: 24px;
                margin-left: -6px;
                top: -9px;
            }
        }
    }
}